<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Kerkes</title>
 
</head>
<body>
    <div align="center">
        <h1>Create New Kerkes</h1>
        <br />
        <form action="#" th:action="@{/saveKerkesa}" th:object="${kerkesa}"method="post">
 			 <div th:object="${student}" >
            	<table border="0" cellpadding="10">
            
            	 <tr>
                    <td>ID:</td>
                    <td><input type="text" th:field="*{id}"  /></td>
                </tr>
                <tr>
                    <td>FirstName:</td>
                    <td><input type="text" th:field="*{firstname}"  /></td>
                </tr>
                <tr>
                    <td>LastName:</td>
                    <td><input type="text" th:field="*{lastname}"/></td>
                </tr>
                
                <tr>
                    <td>E-mail:</td>
                    <td><input type="text" th:field="*{email}"   /></td>
                </tr>
              
                
                <tr>
	                <td>Dega</td>
	                <td><input type="text" th:field="*{dega.emri}"  readonly="readonly" /></td>
	            </tr>
	            </table>
	            </div>  
       		 <table>
           		 <tr>
	                <td><input type="hidden"  th:field="*{derguar}"th:value="${'false'}" />   </td></tr>  
              <tr>
                    <td>kategori:</td>
                    <td><select th:field="*{kategori}">
            				<option th:each="p : ${listkategori}" th:value="${p}" th:text="${p}" />
        				</select>
        			</td>
        			
                </tr>
                 
            </table>
            <button type="submit">Save</button>
       
        </form>
    </div>
</body>
</html>