<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>MAIN Manager</title>

</head>

<body>

    <a href="/Student/index"> Student interface</a>
      <br>
      <a href="/Dega/index"> Dega interface</a>
      <br>
      <a href="/Lenda/index"> Lenda interface</a>
      <br>
      <a href="/Pedagog/index"> Pedagog interface</a>
      <br>
      <a href="/Dekani/index"> Dekani interface</a>
      <br>
      <a href="/Sekretari/index"> Sekretari interface</a>
      <!-- <br>
       <a href="/Kerkesa/index">Bej nje kerkese</a> -->
</body>
</html>